/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}
.osoba {
	display: inline-block;
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
	text-align: center;
	max-width: calc(100% - 30px);
	max-height: 540px;
	padding: 20px;
	margin: 15px;
	
}

.detail {
	padding: 0 30px;
}

.jmeno {
	padding: 0 30px;
}


.medailon {
	border-radius: 50%;
	margin: 20px;
	max-width: 100%;
	height: auto;
	padding: 10px;
}


@media (min-width: 540px) {

	.tym {
		display: flex;
		flex-wrap: wrap;

	}

	.osoba {
		width: calc(100% / 2 - 20px);
		display: flex;
		text-align: left;
		flex-shrink: 0;
		
	}
	
}


@media (min-width: 960px) {


	.osoba {
		width: calc(100% / 4 - 30px);
		display: block;
		text-align: center;
	}